a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_5d7cbe12 th { border: 1px solid #8C8C8C;  } 
#table_5d7cbe12 td { border: 1px solid #8C8C8C;  } 
body { background-color:#ADD8E6; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:40pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#250D04; text-decoration:underline;  }
.textstyle3 { font-size:40pt; font-family:Arial, Helvetica, sans-serif; color:#250D04; text-decoration:underline;  }
.textstyle4 { text-align:left; }
#table_5d7cbe12 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:420px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_18a53080 {  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_717efdca {  }
#cell_e35a6f1 {  }
#cell_283d0531 {  }
#cell_38dcaec {  }
#cell_66675b11 {  }
#cell_6532fa0e {  }
#cell_6b6534ab {  }
#cell_53797471 {  }
#cell_6058d15 {  }
#cell_2a64b3ae {  }
#cell_f13da55 {  }
#cell_1fbec4f5 {  }
#cell_7f894697 {  }
#cell_4902854c {  }
#cell_250423ca {  }
#cell_56357dc7 {  }
#cell_2f04d44a {  }
#cell_4bd8ccd3 {  }
#cell_19690fcc {  }
#cell_4710ac38 {  }
#cell_6848ba0 {  }
#cell_489b3d8 {  }
#cell_50443472 {  }
#cell_5937bf07 {  }
#cell_71742726 {  }
#cell_5367cd03 {  }
#cell_fdbfed7 {  }
#cell_650abe15 {  }
#cell_70082cb5 {  }
#cell_53e9a3ab {  }
#cell_2e18e390 {  }
#cell_4c63728e {  }
#cell_2fd91754 {  }
#cell_1789df23 {  }
#cell_73cb5bf {  }
#cell_5e11d928 {  }
#cell_2d7b4969 {  }
#cell_7107b4be {  }
#cell_7a7cbcc2 {  }
#cell_3bf7972b {  }
#cell_77910cbb {  }
#button_6fcd261b { box-sizing: border-box; border-radius: 9px; position:absolute; left:5%; top:24%; width:150px; height:40px; background-color:#26A4CD; background: linear-gradient(to bottom,#26A4CD, #11495C 50%, #0D3947 50%, #092933); border: 2px solid #82A5E0;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_4cee2439 { box-sizing: border-box; border-radius: 9px; position:absolute; left:55%; top:24%; width:150px; height:40px; background-color:#26A4CD; background: linear-gradient(to bottom,#26A4CD, #11495C 50%, #0D3947 50%, #092933); border: 2px solid #82A5E0;  }
#button_4d20414c { box-sizing: border-box; border-radius: 9px; position:absolute; left:28%; top:24%; width:150px; height:40px; background-color:#26A4CD; background: linear-gradient(to bottom,#26A4CD, #11495C 50%, #0D3947 50%, #092933); border: 2px solid #82A5E0;  }
#button_3ed5e511 { box-sizing: border-box; border-radius: 9px; position:absolute; left:79%; top:24%; width:150px; height:40px; background-color:#26A4CD; background: linear-gradient(to bottom,#26A4CD, #11495C 50%, #0D3947 50%, #092933); border: 2px solid #82A5E0;  }
